h1 {
	font-family: monospace;
	text-align: center;
	font: bold;
	font-size: 88px;
	background: linear-gradient(90deg, #ff6a00, #ee0979);
	text-shadow: 2px 2px 4px #000, 0 0 10 px #ff6a00;
	letter-spacing: 4px;
}

img {
	border-radius: 10px;
	width: 200px;
	margin: 20px;
	transition: all 0.3s ease;
	box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.1);

}

img:hover {
	transform: scale(1.1);
	box-shadow: 2px 2px 10px #aaa;
}

.gallery1 {
	display: flex;
	gap: 20px;
	font-family: monospace;
	font-weight: bolder;
}

.gallery2 {
	display: flex;
	gap: 20px;
	font-family: monospace;
	font-weight: bolder;
}

.gallery3 {
	display: flex;
	gap: 20px;
	font-family: monospace;
	font-weight: bolder;
}

.gallery4 {
	display: flex;
	gap: 20px;
	font-family: monospace;
	font-weight: bolder;
}

.item {
	text-align: center;
}

.item button {
	margin-top: 1px;
	padding: 10px 15px;
	border-radius: 8px;
	color: white;
	background-color: #fa8c37;
	transition: all 0.3s ease;
	font-weight: bold;

}

.item button:hover {
	margin-top: 1px;
	padding: 10px 15px;
	border-radius: 8px;
	color: white;
	background-color: darkorange;
	transform: scale(1.1);

}

.item button:active {
	transform: translateY(2px);  /* moves button down slightly */
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}


#floating-cart {
  position: fixed;
  top: 100px;
  right: 0;
  width: 300px;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 10px 0 0 10px;
  box-shadow: -2px 2px 10px rgba(0,0,0,0.3);
  overflow: hidden;
  transition: right 0.3s ease;
  z-index: 1000;
  font-weight: bold;
}


#cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #eee;
  cursor: pointer;
}

#cart-body {
  padding: 10px;
  max-height: 70vh;
  overflow-y: auto;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.cart-item button {
  background: red;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
}

/* Hidden cart when collapsed */
#floating-cart.collapsed {
  right: -300px; /* hide completely */
}

#toggle-cart {
  position: fixed;
  top: 100px;
  right: 0;
  width: 40px;
  height: 60px;
  border: none;
  border-radius: 10px 0 0 10px;
  background-color: orange;
  color: #fff;
  cursor: pointer;
  z-index: 1001;
}
